<body>
  <header id="main__header">
    <h2>NodeJS Music App</h2>
    <nav class="main__nav">
      <ul class="login-menu">
        <% if (!isAuthenticated) {%>
        <li>
          <a href="/login">Login</a>
        </li>
        <li>
          <a href="#">Sign Up</a>
        </li>
        <% } %> <% if(isAuthenticated) { %>
        <li class="username"><%= users %></li>
        <li ><a href="/myMusic">My Music</a></li>

        <li>
          <form action="/logout" method="POST">
            <input type="hidden" />
            <button>Logout</button>
          </form>
        </li>

        <%} %>
      </ul>
    </nav>
  </header>
</body>
