<%- include('../includes/head.ejs') %>
 <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container-showcase">
            <h1>My Music App</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eos voluptatibus reprehenderit harum dolores, unde deserunt molestias? Quibusdam, necessitatibus earum.</p>
            <a href="/login">Create An Account</a>
        </div>
    </main>
 </body>
 </html>

 